* {
    margin: 0;
    font-family: sans-serif;
}

*::before,
*::after {
    box-sizing: border-box;
}

.svg-class {
   margin-bottom: 10px;
   margin-left: 10px;
}

.container {
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
    background-color: #0d1117;
}

.login-container {
    width: 308px;
    height: 220px;
    padding: 16px;
    background-color: #161b22;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #21262d;
    border-radius: 6px;
}

.forgot-password {
    display: flex;
    justify-content: space-between;
}

.forgot-password a {
    color: #58a6ff;
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
    text-align: left;
    padding: 0 12px;
}

label {
    color: #c9d1d9;
    font-size: 14px;
    margin: 0px 0px 8px;
    line-height: 21px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input {
    width: 274px;
    height: 32px;
    margin-bottom: 20px;
    background-color: #0d1117;
    border-color: #30363d;
    border-radius: 6px;
    border-style: solid;
    font-size: 14px;
    color: #c9d1d9;
    line-height: 20px;
    margin: 4px 0px 16px;
    padding: 5px 12px;
}

h1 {
    color: #c9d1d9;
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    letter-spacing: -0.5px;
    line-height: 36px;
    font-weight: 300;
}

.btn {
    width: 100%;
    border: 0;
    outline: none;
    border-radius: 6px;
    padding: 15px 0;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: .1em;
    background: #238636;
    color: #fff;
    cursor: pointer;
    transition: background .25s ease;
    margin-bottom: 5px;
}

.create-account {
    width: 308px;
    border-color: #30363d;
    border-style: solid;
    border-width: 1px;
    color: #c9d1d9;
    margin: 16px 0px 10px; 
    padding: 16px;
    text-align: center;

}

.create-account a {
    color: #58a6ff;
    text-decoration: none;
    font-size: 14px;
}

.footer {
    text-align: center;
    margin-top: 40px;
}

.footer a {
    color: #58a6ff;
    text-decoration: none;
    font-size: 14px;
    padding: 5px;
    border-radius: 6px;
}

.footer a:last-child {
    color: slategray;
}