* {
    margin: 0;
    font-family: sans-serif;
}

*::before,
*::after {
    box-sizing: border-box;
}

.container {
    max-width: 800px;
    margin-inline: auto;
}

.text-center {
    text-align: center;
    padding: 10px 0;
}

.fa {
    margin: 0 5px;
    padding: 0 5px;
    border: 1px solid rgb(141, 139, 139);
}

details {
    background: transparent;
    border-top: 1px solid rgb(141, 139, 139);
    padding: 20px 0;
    cursor: pointer;
    margin-bottom: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgb(62, 72, 80);
}

details p {
    padding: 5px 0;
}

details:first-child {
    border: none;
}

details p {
    font-weight: normal;
}

summary {
    list-style: none
}

details summary::before {
    content: "+";
    font-size: 1.5em;
    margin-right: 5px;
}

details[open] summary::before {
    content: "-";
    font-size: 1.5em;
    margin-right: 5px;
}

details summary:focus {
    color: black;
}